.card-component {
	
	&__content {
		color: white;
		flex-direction: column;
		background: var(--gradient);
		width: 100%;
		margin-block: 0.5em 2em;
		padding: var(--extra-padding);
		box-shadow: var(--card-shadow);
		box-sizing: border-box;
		border-radius: var(--d-border-radius);	
	}
	
	&__button[href] {
		color: white;
		background-color: var(--quaternary);
		padding-block: 0.4em;
		border: none;
	}	
}