.grid-container {
	display: flex;
	gap: 1em;
	margin-block: 3em 1em;
}
.card-button {
	color: var(--tertiary);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 235px;
	min-height: 200px;
	padding: 2em;
	background-color: rgba(var(--primary-rgb),0.025);
	box-shadow: var(--card-shadow);
	box-sizing: border-box;
	border-radius: var(--d-border-radius);
	transition: 0.2s ease box-shadow;
	
	&:before {
		content: "";
		background-size: 100% 100%;
		display: inline-block;
		width: 38px;
		height: 38px;
	}
	
	> text {
		white-space: normal;
		
		&:after {
			content: "->";
			color: var(--primary);
			display: block;
			float: right;	
		}
	}
	
	&:hover {
		box-shadow: var(--card-shadow-hover);
	}
}