#main {
	padding-top: 60px;
	
	.d-header-wrap {
		position: fixed;
		width: 100vw;
		
		.d-header {
			background-color: var(--secondary);
			
			#site-logo {
				max-height: 32px;
			}
			
			.d-header-icons {
				
				li:last-child {
					margin-left: 0.5em;
				}
				
				.icon {
					width: 1.5em;
					height: 1.5em;
					padding: 0.5em;
					
					.d-icon {
						color: var(--primary-900);
					}
					
					img.avatar {
						width: 2em;
						height: 2em;
					}	
				}
			}
		}
	}
}